<section class="view-aprove-events">
  <section class="header">
    <h2 class="title"> Lista de Eventos Pendentes</h2>
    <div class="bloco-flex">
      <div>
        <mat-form-field class="date-event" appearance="fill">
          <mat-label>Escolha a data</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="date" (change)="onClose()">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker (closed)="onClose()"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="eventLegend">
        <div class="item">
          <button class="yellow"></button>
          <p class="legendP">Evento pendente</p>
        </div>
        <div class="item">
          <button class="blue"></button>
          <p class="legendP">Evento aprovado</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
    <div class="float-right">
      <button mat-button 
      color="primary" 
      class="btn-submit"
      (click)="setView(CalendarView.Month)"
      [class.active]="view === CalendarView.Month"
      >Mês</button>
      <button mat-button 
      color="primary" 
      class="btn-submit"
      (click)="setView(CalendarView.Week)"
      [class.active]="view === CalendarView.Week"
      >Semana</button>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      color = "black"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="8"
      [dayEndHour]="18"
      [hourSegments]="2"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-week-view>
  </div>
</section>
