<body>
    <div class="main-content">
        <div class="menu">
            <div class="menu-item principal">
            <img src='/assets/img/home.png' alt='image' name="principal">
            </div>
            <div class="menu-item menu1" [routerLink]="['/events']" routerLinkActive="is-active">
            <img src='/assets/img/btn_menu1.png' alt='image' name="menu">
            </div>
            <div class="menu-item menu2" [routerLink]="['/resUser']" routerLinkActive="is-active"> 
            <img src='/assets/img/btn_menu2.png' alt='image' name="menu">
            </div>
            <div class="menu-item menu3">
            <img src='/assets/img/btn_menu3.png' alt='image' name="menu">
            </div>
        </div>
    </div>
</body>