.resOrg {
    margin-left: 5vh;
    padding: 25px;
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.4rem;
    margin-top: 3%;
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:  Helvetica, sans-serif;
        color: #3A3632;
        border: none;
    }
    input, label{
        display: block;
        width: 50%;
    }
    
    input:focus, label:focus {
        outline: none;
    }
    
    body{
        padding-top: 5vh;
        background-size: cover;
    }
    
    h1{
        text-align: left;
        margin-bottom: 25px;
        font-size: 1.4rem;
    }
    
    form{
        display:flex;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    
    .body{
        flex: 1 1 100%;
        position: relative;    
    }
    
    label{
        font-weight: bold;
        font-size: .8rem;
    }
    
    input{
        border-bottom: 2px solid #AF3F49;
        padding: 10px;
        font-size: 0.9rem;
        margin-bottom: 25px;
    }
    
    input:focus{
        border-color: #197278
    }
    
    input[type="submit"] {
        background-color: #197278;
        color: #FFF;
        border: none;
        border-radius: 5px;
        height: 40px;
        cursor: pointer;
        width: 15%;
        position:absolute;
        right: 50%;
    }
}

.sucess {
    background-color: rgb(131, 214, 49);
    text-align: center;
  }
