<div class="container">
    <mat-toolbar class="menu-top">
        <img class="logo" src="/assets/img/oracleLogo.png" alt="Logo Oracle">
        <div class="spacer"></div>
        <a mat-button class="nav-item">Nossos Espaços</a>
        <a mat-button class="nav-item">Eventos</a>
        <a mat-button class="nav-item">Login</a>
        <a mat-button class="nav-account">
            <mat-icon class="account-icon">
            account_circle
            </mat-icon>
            Quero me cadastrar</a>
      </mat-toolbar>
</div>