*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #1A202C;
    border: none;
  }


  
  body {
    overflow: hidden;

    h1 {
        text-align: justify;
        margin-top: 3%;
        font-size: 1.4rem;
        margin-left: 3%;
      }

      .duas-colunas{
          display:grid;
          grid-auto-flow: column;
          margin-top: 10% !important;
          gap:1em;
          margin: 3%;
      }

      .lounge{
        width: 100%;
        background-color: #FAFAFA;
        border-radius: 10px;
        margin-left:15%;


        input, label {
            width: 30%;
          }
        
        input:focus, label:focus {
            outline: none;
          }

          #lounge-form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .half-box {
                flex: 1 1 100%;
                position: relative;

              }

            .cap-lounge {
                display:flow-root;
                max-width: 50%;
                margin: auto;
            }
          }
        }

          .openSpace{
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 10px;
            margin-left:3%;
    
    
            input, label {
                width: 30%;
              }
            
            input:focus, label:focus {
                outline: none;
              }
    
              #openSpace-form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                .half-box {
                    flex: 1 1 100%;
                    position: relative;
    
                  }
    
                .cap-open {
                    display:flow-root;
                    max-width: 50%;
                    margin: auto;
                }
              }
            }

            label {
              font-weight: bold;
              font-size: 1rem;
            }

            input {
              border-bottom: 2px solid #323232;
              padding: 10px;
              font-size: .9rem;
              margin-bottom: 20px;
            }

            .third-box {

              input[type="submit"]{
                margin-right: 5%;
                margin-top: 8%;
              }

              #confirmCapacity {
                background-color: #197278;
                color: #FFF;
                border: none;
                border-radius: 10px;
                width: 10%;
                height: 40px;
                cursor: pointer;
                position:relative;
              }
  
              #confirmCapacity:hover {
                background-color: #10484d;
              }

            }

          
            
      }

