<div class="side-menu">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class="side-bar" mode="side" opened>
      <div class="menu-content">
        <b><h3>#VEMPRACASA</h3></b>
        <img class="img-avatar" src="/assets/img/user_avatar.png">
        <p>Nome do usuário</p>
        <div class="menu-options">
          <div class="option-div">
          <a><img class="img-avatar" src="/assets/img/icons/icons_schedule.png">Meus eventos</a>
          </div>
          <div class="option-div">
            <a><img class="img-avatar" src="/assets/img/icons/organization.png">Organizar Evento</a>
          </div>
          <div class="option-div">
            <a><img class="img-avatar" src="/assets/img/icons/calendar.png">Calendário</a>
          </div>
          <div class="option-div">
            <a><img class="img-avatar" src="/assets/img/icons/report.png">Extrair Relatório</a>
          </div>
          <div class="option-div">
            <a><img class="img-avatar" src="/assets/img/icons/tool-kit.png">Fornecedores</a>
          </div>
          <div class="user-edit">
            <a><img class="img-avatar" src="/assets/img/icons/user-avatar.png">Editar Perfil</a>
          </div>
        </div>
      </div>
    </mat-sidenav>
      <ng-content></ng-content>
  </mat-sidenav-container>
</div>