<div class="container">
  <div class="sucess"  *ngIf="showSucss">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Registration Success!</strong>
      </p>
    </div>
  </div>
  <div class="error"  *ngIf="showError">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Something got wrong, please try again!</strong>
      </p>
    </div>
  </div>
  <form class="form-event" [formGroup]="formGroup" (ngSubmit)="ngSubmit()">
      <mat-form-field class="title-input" appearance="fill">
        <mat-label>Adicionar título</mat-label>
        <input matInput formControlName="HOS_EVENT" required>
      </mat-form-field>
    <div class="form-components">
      <div class="form-right">
        <mat-form-field class="item" appearance="fill">
          <mat-label>Escolha a data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="HOS_DATE_EVENT" (change)="onClose()" required>
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker (closed)="onClose()"></mat-datepicker>
        </mat-form-field>
        <p class="p-item">
          <mat-icon class="schedule-icon">
            location_on
            </mat-icon>
            Selecione o(s) Espaço(s)
        </p>
          <mat-checkbox class="item" color="primary" formControlName="HOS_OPEN_SPACE" (click)="checkLocate()">Open Space</mat-checkbox>
          <mat-checkbox class="item" color="primary" formControlName="HOS_PRIVATE_ESPACE" (click)="checkLocate()">Lounge on Hall</mat-checkbox>
      </div>

      <div class="form-left">
        <p class="day-event">
          <mat-icon class="schedule-icon">
          schedule
          </mat-icon>
          {{labelPicker}}
        </p>
        <mat-form-field class="select-hour" appearance="fill">
          <mat-label>Início</mat-label>
          <mat-select required formControlName="HOS_START">
            <mat-option  *ngFor="let hour of hours" value="{{hour}}">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select-hour" appearance="fill">
          <mat-label>Término</mat-label>
          <mat-select required formControlName="HOS_END">
            <mat-option  *ngFor="let hour of hours" value="{{hour}}">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="p-item">
          <mat-icon class="schedule-icon">
            supervisor_account
            </mat-icon>
            Selecione o Tipo de Evento
        </p>
        <mat-radio-group aria-label="Select an option" formControlName="HOS_EVENT_TYPE" required>
          <mat-radio-button class="item" color="primary" value="Public">Público</mat-radio-button>
          <mat-radio-button class="item" color="primary" value="Private">Privado</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="form-down">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Digite o Nome ou Email para adicionar convidados</mat-label>
        <input matInput formControlName="HOS_GUESTS">
      </mat-form-field>
      <p class="p-item">
        <mat-icon class="schedule-icon">
          article
          </mat-icon>
          Adicionar Descrição
      </p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Digite os detalhes do evento.</mat-label>
        <textarea matInput formControlName="HOS_DESCRIPTION" required></textarea>
      </mat-form-field>
      <p class="photo-title">
        <mat-icon class="schedule-icon">
          image
          </mat-icon>
          Selecione imagem de divulgação do evento
      </p>
      <label for="file-upload" class="custom-file-upload">
        Clique para Selecionar o Arquivo
      </label>
      <input id="file-upload" type="file"/>
    </div>
    <button mat-button type="submit" color="primary" class="btn-submit">Solicitar Evento</button>
  </form>
</div>
