<div class="sucess"  *ngIf="showSucss">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Registro salvo com sucesso!</strong>
      </p>
    </div>
</div>
<body>
    <div id="view-user-register">
        <h1> Crie sua conta para acessar o sistema</h1>
            <form id="register-form" [formGroup]="formGroup" (ngSubmit)="ngSubmit()" ngNativeValidate>
                <label for="radio-box">É funcionário Oracle?</label>
                <div class="radio-box">
                    <input type="radio" name="tipo_user" id="externo" value="externo" (click)="userCompany()" checked>
                    <label for="externo">Não sou funcionário Oracle</label>
                    <span class="checkmark"></span>
                </div>
                <div class="radio-box">
                    <input type="radio" name="tipo_user" id="interno" value="interno" (click)="userOracle()">
                    <label for="interno">Sou funcionário Oracle</label>
                    <span class="checkmark"></span>
                </div>
                <div class="break"></div>
                <div class="third-box spacing">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" placeholder="Digite seu primeiro nome" formControlName="name" required>
                </div>
                <div class="third-box spacing">
                    <label for="lastname">Sobrenome</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Digite seu sobrenome" formControlName="surname" required>
                </div>
                <div class="third-box">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" id="cpf" placeholder="999.999.999-99" data-mask="000.000.000-00" formControlName="cpf" required>
                </div>
                <div class="third-box spacing" *ngIf="!oracleEmployee">
                    <label for="company">Empresa</label>
                    <input type="text" name="company" id="company" placeholder="Digite a empresa em que trabalha" formControlName="nomeEmpresa">
                </div>
                <div class="third-box spacing" *ngIf="oracleEmployee">
                    <label for="company">Oracle ID</label>
                    <input type="text" name="company" id="company" placeholder="Digite o seu ID Oracle" formControlName="idOracle">
                </div>
                <div class="third-box spacing">
                    <label for="sector">Departamento</label>
                    <input type="text" name="sector" id="sector" placeholder="Digite o departamento ou setor" formControlName="departamento">
                </div>
                <div class="third-box">
                    <label for="phone">Celular</label>
                    <input type="tel" name="phone" id="phone" placeholder="(99) 99999-9999" formControlName="telefone" required>
                </div>
                <div class="third-box spacing">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail" formControlName="email" required>
                </div>
                <div class="third-box spacing">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha" formControlName="senhaUsuario" required>
                </div>
                <div class="third-box">
                    <label for="password-conf">Confirme sua senha</label>
                    <input type="password" name="password-conf" id="password-conf" placeholder="Confirme sua senha" formControlName="passConfirm" required>
                </div>
                <div class="full-box">
                    <label for="warning">! Devido a Pandemia do Coronavírus, visando a segurança e saúde de todos os presentes nos eventos da Casa Oracle, precisamos do seu comprovante de vacinação contra a Covid-19 (frente e verso) para autorizar sua entrada.</label> 
                </div>
                <div class="break"></div>
                <div class="third-box">
                    <label for="upload">
                    <input type="file" name="upload" id="upload">Upload do comprovante de vacinação</label>
                </div>
                <div class="break"></div>
                <div class="third-box">
                    <label for="upload-archive"></label>
                    <input type="submit" id="upload-archive" value= "Fazer Upload" >
                </div>
                <div class="break"></div>
                <div class="third-box">
                    <label for="createAccount"></label>
                    <input type="submit" id="createAccount" value="Criar conta">
                 </div>
                <div class="break"></div>
                <div class="third-box">
                    <label for="agreement">Clicando em "Criar Conta", você concorda com nosso <a href="#">Termos & Condições</a> e <a href="#">Política de Privacidade</a></label>
                </div>
                <div class="break"></div>
                <!--<div class="third-box">
                    <label for="back"></label>
                    <input type="submit" id="back" value= "Voltar" >
                </div>-->
             
            </form>
    </div>
</body>