*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #1A202C;
  border: none;
}

input, label {
  display: block;
  width:100%;
}

input:focus, label:focus {
  outline: none;
}

a {
  color: #197278;
}

body {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: url('../view-register-user/img/register_externo.png') !important;
  width:100%;
  height:100%;
  background-size:cover;
  background-position-y: -100px;

    #view-user-register {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      background-color: #D5C5C8;
      border-radius: 10px;
      padding: 25px;
      opacity: 70%;

        h1 {
          text-align: center;
          margin-bottom: 35px;
          font-size: 1.8rem;
        }

          #register-form {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

              .full-box {
                flex: 1 1 100%;
                position: relative;
                margin-bottom: 20px;
                text-align: justify;
              }

              .radio-box {
                flex: 1 1 45%;
                position: relative;
                margin-bottom: 50px;
                margin-top: 30px;
                
                    input, label{
                    display: inline-block;
                    width: auto;
                    margin-right: 10px;

                  }

                  input[type="radio"] {
                    width: 15px;
                    height: 15px;
                  }
              }

              .half-box {
                flex: 1 1 45%;
                position: relative;
      
              }

              .third-box {
                flex: 1 1 30%;
                position: relative;
              }

              .break {
                flex-basis: 1 1 100%;
                width: 100%;
              }

              .spacing {
                margin-right: 1.5%;
              }

              label {
                font-weight: bold;
                font-size: 1rem;
              }

              label[for="agreement"] {
                font-size: 0.8rem;
                width: 30%;
                text-align: justify;
              }

              label[for="warning"] {
                font-size: 1rem;
                text-align: justify;
                color:#AB3F49;
              }

              input {
                border-bottom: 2px solid #323232;
                padding: 10px;
                font-size: .9rem;
                margin-bottom: 20px;
              }

              input:focus {
                border-color: #197278;
              }



              #upload-archive {
                background-color: #2D3748;
                color: #FFF;
                border: none;
                border-radius: 10px;
                width: 30%;
                height: 40px;
                cursor: pointer;
              }

              #upload-archive:hover {
                  background-color: #12151b;
              }
              
              #createAccount {
                background-color: #197278;
                color: #FFF;
                border: none;
                border-radius: 10px;
                width: 30%;
                height: 40px;
                cursor: pointer;
                margin-bottom: 5px;
              }

              #createAccount:hover {
                background-color: #10484d;
              }

              #back {
                background-color: #AB3F49;
                color: #FFF;
                border: none;
                border-radius: 10px;
                width: 30%;
                height: 40px;
                cursor: pointer;
                margin-top: 20px;
              }

              #back:hover {
                background-color: #6e131c;
              }

              input[type="file"] {
                cursor: pointer;
                z-index:-1;
              }

              label[for="radio-box"] {
                font-size: 1.2rem;
                text-align: justify;
                margin-bottom: 10px;

              }

           


          }
    }
}


